.tab-area {
  display: flex;/* flexで横並び */
  cursor: pointer;/* カーソルポインターに */
}

.tab {
  padding: 1rem;
  text-align: center;/* 文字を中央に。 */
  transition: all 0.3s ease;
}

.tab:nth-child(n+2) {
  border-left: 1px solid #3C3937;
}

.tab.active {
  color: #F6ACB0;
  font-size: 1.2rem; /* アクティブなタブのフォントサイズを大きく */
}
  

.panel {
  display: none;
  text-align: center;
}

.panel.active {
  display: block;
}

.panel-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.panel ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem; /* 画像の間に余白 */
  padding: 0;
  list-style: none;
}

.panel li {
  width: 30%;
  display: flex;
  justify-content: center;
}

.panel_img img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 画像に影をつける */
}
